<div class="container">
  <div class="get-started text-center">
    <div class="title">
      <%= image_tag "robot.jpeg" %>
    </div>
    <div class="action">
      <a href="/play" class="btn btn-play">Play Now</a>
    </div>
  </div>
</div>
