/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font: "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif;
   text-rendering: optimizelegibility;
   font-smoothing: antialiased;
 }

.container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 11px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}

.btn-play {
  opacity: .8;
  text-transform: uppercase;
  background: #ee6100;
  color: #FFF;
}

.btn-play:hover {
  opacity: 1;
}

.btn-quit {
  opacity: .8;
  text-transform: uppercase;
  background: #d14836;
  color: #FFF;
}

.btn-quit:hover {
  opacity: 1;
}

.game {
  height: 100%;
}

.tabletop {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.tabletop tr td {
  width: 20%;
  border: 1px solid #000;
  height: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
}

.north {
  transform: rotate(0deg);
}

.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(270deg);
}

.actions {
  margin-top: 20px;
  border: 1px solid #000;
}

.actions .header {
  padding-left: 10px;
  border-bottom: 1px solid #000;
}

.actions .header h1 {
  font-size: 14px;
}

.actions .console {
  padding-left: 10px;
  background-color: #000;
  color: #FFF;
}

.actions .console input {
  border: none;
  background: none;
  color: #FFF;
  width: 100%;
  height: 40px;
}

.actions .console input:focus {
  border: none;
}

.actions .console .log {
  font-size: 12px;
  opacity: .9;
}

.quit {
  padding: 20px 0px 20px 20px;
}
